# Build and Release Folders
node_modules
build
dist
uploads
exports
tmp
temp
.env

# Other files and folders

# Executables
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
